<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501202508716-18j6g0dpgccikgk6bibkg6n3fm4ehfsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501202508716-18j6g0dpgccikgk6bibkg6n3fm4ehfsr</string>
	<key>API_KEY</key>
	<string>AIzaSyChEEE5kmj7Yjh57Nt6HR0spoMlGbL6Glo</string>
	<key>GCM_SENDER_ID</key>
	<string>501202508716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.FitFix</string>
	<key>PROJECT_ID</key>
	<string>fitfix-69311</string>
	<key>STORAGE_BUCKET</key>
	<string>fitfix-69311.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501202508716:ios:e82634dd76ee0917af3809</string>
	<key>DATABASE_URL</key>
	<string>https://fitfix-69311-default-rtdb.firebaseio.com</string>
</dict>
</plist>